.title {
  color: rgb(94, 92, 94);
  margin-top: 20px;
  margin-left: 35%;
  font-size: 44px;
}

.card-str {
    color: #8A3E93;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}