.navbar {
 background-color: #ffffff !important;
 margin-top: 5px;
}

.logo {
    width: 200px;
    align-items: middle;
    margin-left: 40px;
    margin-right: 40px;
}

.toggle {
    color: black !important;
}

 .navbar-toggler {
    background-color: #84348D !important;
}
.navbar-toggler-icon {
    background-color: #84348D;
}

.nav-link {
    color: #4f494b !important;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 15px;
}

.secondary-link {
    padding-top: 15px;
}

.navStr {
    color: #84348D !important;
}

.navSubtitle {
    color: #4C7287 !important;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

.dashboard-icon {
    font-size: 31px !important;
    margin-right: 10px;
    color: rgb(186, 65, 138);
}