.sidenav {
  height: 100%;
  width: 200px;
  border: 0.1vmin solid rgb(223, 221, 216);
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 0;
  overflow-x: hidden;
  padding: 40px;
  background-color: #FFFFFF;
}

.sidenav .sideLink  {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #4C7287;
  display: block;
  border: none;
  background: none;
  width:100%;
  margin-top: 30px;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
}
.sideLink:hover {
    background: rgba(215, 213, 214, 0.578);
    border: 0.2vmin solid rgb(116, 48, 120);
    border-radius:1vmin;
    width: 145px;
    height: 55px;
}
.sidenavSub {
    color: #801a81;
    font-size: 20px;
    position: relative;
    right: 5px;
}

.dashboard-icon {
    color: #cd267a;
    font-size: 6vmin;
    display: inline;
    position: relative;
    top: 6px;
    right: 6px;
}
.searchLink {
    background-color:rgba(210, 207, 207, 0.804) !important;
    border-radius: 2vmin;
    padding: 12px 25px 8px 25px;
    color: rgb(72, 83, 94);
}

.searchLink:hover {
    padding: 12px 40px 8px 40px;
    color:rgb(186, 40, 145);
}
.payees-icon, .payments-icon, .remittances-icon, .search-icon {
    display: inline;
    position: relative;
    font-size: 4vmin;
    color: #54798D;
    top: 5px;
    right: 6px;
}
.account-div {
    margin-top: 50px;
    border: 0.2vmin solid rgb(203, 201, 201);
    width: 150px;
    padding-left: 10px;
    position: relative;
    right: 10px;

}
.sidebar-accountsTitle {
    color: #801A81;
    margin-top: 20px !important;
}

.accountDiv-text {
    list-style: none;
    text-align: left;
}