@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

$serif: 'Droid Serif', serif;
$sans: 'Oswald', sans-serif;
$icon: fontawesome;



/* 
.card-title {
    font-size: 5vmin;
    margin-left: 10px;
}
.payee-body, .address-body {
    font-size: 2vmin;
    color: #494f52;
    margin-top: 5px;
}
.card-str {
    color: #8A3E93;
    margin-top: 3px;
}
.address-title {
    font-size: 2.5vmin !important;
}
.payee-btn {
    margin-right: 30px;
}

.employee-btn {
    margin-left: 30px;
}

.employee-body {
    margin-right: 20px;
}
 */
