@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Prata&family=Rubik:wght@500&display=swap');

.statement-bg {
    margin-left: 33%;
    border: 0.2vmin solid rgb(208, 201, 210);
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 15px;
} 


.statement-card {
    min-width: 700px;
    max-width: 650px;
    display: inline;
}

.payee-name-title {
    font-family: 'Cantarell', sans-serif;
    color: #741876;
}

.italic {
    color: rgb(69, 66, 68)
}

.str-payment {
    font-family: 'Rubik', sans-serif;
    color: #CD267A;
    margin-right: 7px;
    margin-left: 7px;
}

.payment-icon, .date-icon {
    position: relative;
    top: 5px;
    color: #575457;
}

.accord-str {
    margin-left: 5px;
    margin-right: 5px;
}

.data-table {
    border: 0.2vmin solid rgb(48, 47, 48);
    border-radius: 1vmin;
    color: rgb(38, 37, 37);
}

.table-header {
    background-color: #567d93;
    color: white;
}